<!DOCTYPE html>
<html>
  <head>
    <title>Barley break</title>
    <link rel='stylesheet' href='/assets/css/style.css' />
  </head>
  <body>
    <div id="react-mount"><%- view %></div>
    <script id="react-data" type="application/json"><%- data %></script>
    <script src="/assets/js/app.js" type="application/javascript"></script>
  </body>
</html>
